#general modules
django >3.2,<3.3
python-decouple==3.6
Pillow==9.2.0
djangorestframework==3.13.1

#third-party modules
Markdown==3.4.1       
django-filter==22.1
drf-yasg[validation]==1.21.3
djangorestframework-simplejwt==4.8.0
djoser==2.1.0
django-cors-headers==3.13.0
#deployment modules

# email third party modules
django-mail-templated

#refactoring and test
black==22.6.0
flake8==5.0.4
pytest==7.1.2
pytest-django==4.5.2
Faker==13.15.1

#background process and cache
celery==5.2.7
redis==4.3.4
#django-celery-beat==2.3.0 #it is also should installed on worker container.
django-redis==5.2.0 # install on both backend and worker container

