[flake8]
exclude =
    .git,
    .gitignore,
    *.pot,
    *.py[co],
    __pycache__,
    venv,
    .env
    settings.py
    __init__.py
    *_initial.py
    *Tests.py
    *tests.py
    celery.py
ignore=