{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/signin.css'%}">

  </head>

  <body>
    <div class="container py-5">
        <h1>Login</h1>
            <form method = "Post" >
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
        
    </div>

  </body>
</html>
